AP_SSID=Solis-Setup
AP_PASS=ChangeMe1234
COUNTRY_CODE=IE
WIFI_IFACE=wlp2s0
WAN_IFACE=enp1s0
CHANNEL=6
AP_ADDR_CIDR=10.44.0.1/24
AP_NET_CIDR=10.44.0.0/24
DHCP_START=10.44.0.50
DHCP_END=10.44.0.150
DNS1=1.1.1.1
DNS2=8.8.8.8
